  <mat-toolbar color="primary" class="navbar">
    <a mat-button [routerLink]="['/admin', administradorId, 'obras-sociales']" routerLinkActive="active">Obras Sociales</a>
    <a mat-button [routerLink]="['/admin', administradorId, 'especialidades']" routerLinkActive="active">Especialidades</a>
    <a mat-button [routerLink]="['/admin', administradorId, 'medicos']" routerLinkActive="active">Medicos</a>
    <a mat-button [routerLink]="['/admin', administradorId, 'pacientes']" routerLinkActive="active">Pacientes</a>
  
    <span class="spacer"></span>
  
    <a mat-button routerLink="/login">Cerrar Sesión</a>
  </mat-toolbar>