<div class="tabla-wrapper">
  <!--especialidades-->
  <div class="acciones-header">
    <mat-card-title>Listado de Médicos</mat-card-title>
    <button mat-raised-button color="primary" (click)="irACrearMedico()">
      <mat-icon>add</mat-icon> Agregar Médico
    </button>

  </div>
  <div>
    <mat-form-field appearance="outline" class="full-width buscador">
      <mat-label>Buscar médico</mat-label>
      <input matInput placeholder="Buscar por matrícula o apellido" #buscador (input)="filtrarMedicos(buscador.value)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

  </div>

  <p *ngIf="medicos.length === 0" class="sin-datos">No hay médicos registrados</p>

  <table mat-table [dataSource]="medicosFiltrados" class="mat-elevation-z2 medico-table"
    *ngIf="medicosFiltrados.length > 0">

    <!-- Columna Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let med"> {{ med.nombre }} {{ med.apellido }} </td>
    </ng-container>

    <!-- Columna Matricula -->
    <ng-container matColumnDef="matricula">
      <th mat-header-cell *matHeaderCellDef> Matrícula </th>
      <td mat-cell *matCellDef="let med"> {{ med.matricula }} </td>
    </ng-container>

    <ng-container matColumnDef="especialidades">
      <th mat-header-cell *matHeaderCellDef> Especialidades </th>
      <td mat-cell *matCellDef="let med">
        <div *ngFor="let idEsp of med.idEspecialidades">
          - {{ obtenerNombreEspecialidad(idEsp) }}
        </div>
      </td>
    </ng-container>

    <!-- Columna DNI -->
    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef> DNI </th>
      <td mat-cell *matCellDef="let med"> {{ med.dni }} </td>
    </ng-container>

    <!-- Columna Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let med"> {{ obtenerEmail(med.id) }} </td>
    </ng-container>

    <!-- Columna Obras Sociales -->

    <ng-container matColumnDef="obrassociales">
      <th mat-header-cell *matHeaderCellDef> Obras Sociales </th>

      <td mat-cell *matCellDef="let med">
        <div *ngIf="obtenerObrasSocialesDeMedico(med.id).length > 0; else sinOS">
          {{ obtenerObrasSocialesDeMedico(med.id) }}
        </div>
        <ng-template #sinOS>
          Sin obras sociales
        </ng-template>
      </td>
    </ng-container>


    <!-- Columna Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let med">
        <button mat-icon-button color="warn" (click)="eliminarMedico(med.id)" matTooltip="Eliminar">
          <mat-icon>delete</mat-icon>
        </button>
        
        <button mat-icon-button color="primary" (click)="editMedico(med.id)" matTooltip="Editar">
          <mat-icon>edit</mat-icon>
        </button>
        
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['nombre', 'matricula','dni','email' ,'especialidades', 'obrassociales', 'acciones']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['nombre', 'matricula', 'dni','email', 'especialidades','obrassociales', 'acciones'];"></tr>

  </table>
</div>