mat-card {
  max-width: 900px;
  margin: 20px auto;
  padding: 16px;
}

.acciones-header mat-card-title {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 20px;       
  font-weight: 500;      
  color: #1a3c68;      
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-weight: 600;
  border-bottom: 2px solid #ccc;
}

td, th {
  padding: 8px;
  text-align: left;
}
